{% extends 'base.html' %}
{% load static %}
{% block title %}Pagamento - Tenuta Beltrani{% endblock %}
{% block content %}
<h1 align="center">Benvenuto nell'Area Personale</h1>

<div class="container">
  <div class="left-col">
      <h2>MENU</h2>
      <a href="/ordine" class="menu-link">Esegui ordini</a>
      <a href="/storico" class="menu-link">Storico degli ordini</a>
      <a href="/ins_recensione" class="menu-link">Inserisci recensioni</a>

    <form method="post" action="{% url 'personale' %}">
      {% csrf_token %}
      <button type="submit" class="menu-link logout-link">Logout</button>
    </form>
  </div>

  <div class="right-col">
    <div class="container text-center mt-5">
      <div class="alert alert-success" role="alert" style="font-size: 1.5rem;">
        ✅ Ordine completato con successo!
      </div>
    </div>
  </div>
</div>

{% endblock %}